# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
build/
dist/

# OS-specific ignores
.DS_Store
Thumbs.db
desktop.ini

# IDE-specific ignores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Telemetry-specific ignores
lhm.zip
LibreHardwareMonitor/Aga.Controls.pdb
LibreHardwareMonitor/LibreHardwareMonitorLib.pdb