<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="runWebServerMenuItem" value="false" />
    <add key="wmiEnabled" value="true" />
    <add key="wmiProviderEnabled" value="true" />
    <add key="runWmiProvider" value="true" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="runOnWindowsStartup" value="true" />
  </appSettings>
</configuration>